* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(241, 240, 240, 0.986);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.caja_vehiculos{
    width: 90%;
    height: 850px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgb(0, 0, 0.5);
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
}

.titulo{
    margin-top: 30px;
}

.descripcion{
    margin-bottom: 40px;
    color: rgb(177, 173, 173);
}

.cargar_vehiculos{
    width: 95%;
    height: 80%;
    background-color: rgba(241, 240, 240, 0.986);
    display: flex;
    flex-direction: row;
    margin: auto;
    border-radius: 5px;
    padding: 10px;
}

.caja_conjunta{
    display: flex;
    flex-direction: column;
    width: 25%;
}

#boton_cargar{
    background-color: rgb(45, 136, 221);
    color: white;
    width: 70%;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}

#boton_cargar:hover{
    background-color: rgba(29, 42, 226, 0.89);
    cursor: pointer;
}

.caja_form{
    width: 100%;
    height: 85%;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: 10px;
}

.subtitulo{
    width: 100%;
    height: 10%;
}

#formulario{
    display: flex;
    flex-direction: column;
}

.input{
    margin-bottom: 20px;
    margin-top: 3px;
    height: 40px;
    border: rgb(160, 158, 158) solid 1px;
    border-radius: 10px;
}

.input:hover{
    border: rgb(238, 236, 113) solid 1px;
}

#boton_añadir{
    background-color: rgb(58, 196, 3);
    color: white;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}

#boton_añadir:hover{
    background-color: rgba(43, 255, 0, 0.89);
    cursor: pointer;
}

.caja_contenido{
    width: 70%;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-top: 7.5%;
    height: 15%;
}